html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e4eece;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #000000;
}

p {
  text-indent: 30px;
  margin-bottom: 0.75em;
}

.noIndent {
  text-indent: 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.75em; /* 75% of the font size */
  margin-bottom: 0.2em; /* Adjust this value between 0.1em and 0.33em as needed */
}


h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 150px;
  text-decoration: underline;
}

.title {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.title h1 {
  margin: 0;
}

.parallax {
  background-image: url('OcunanandMartin.png');
  height: 25vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url('OcunanandMartin.png');
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-aligned-image {
  float: right;
  display: block;
  margin: 0, 0, 20px, 20px;
  border: 20px solid lightblue;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.center-aligned-image {
  display: block;
  margin: 0px auto 40px auto;
  border: 20px solid lightblue;
  border-radius: 10px;
}

.content1 {
  height: auto;
  background-color: lightgray;
  text-align: center;
  padding: 50px;
}

.content1 h1 {
  background-color: #e6dcad;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.content2 {
  height: auto;
  background-color: #decaca;
  text-align: center;
  padding: 50px;
}

.content3 {
  height: auto;
  background-color: #dbbdda;
  text-align: center;
  padding: 50px;
}

.content4 {
  height: auto;
  background-color: #c8bddb;
  text-align: center;
  padding: 50px;
}

.content5 {
  height: auto;
  background-color: #bdc5db;
  text-align: center;
  padding: 50px;
}

.content6 {
  height: auto;
  background-color: #bddbd6;
  text-align: center;
  padding: 50px;
}

.left-aligned-text {
  text-align: left;
  padding: 25px;
}

.text-box {
  background-color: #e2e6ad;
  padding: 10px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black; 
  border-collapse: collapse; 
  background: linear-gradient(to right, #f0f8ff, #e6e6fa);
}

.schedule {
  table-layout: fixed;
  width: 900px;
}

th,td {
  padding: 8px;
  width: 16.66%;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(2n) td {
  border-bottom: 1px solid #ccc; 
}

th {
  background-color: gray;
  color: lightcoral;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  background-color: #e6dcad;
  padding: 20px;
  border-radius: 10px;
}

.time {
  background-color: lightgray;
  color:#000000;

}

.totalylegit {
  background-color: beige;
  color: black;
}

.cs2450 {
  background-color: indianred;
  color: white;
}

.lunch {
  background-color: aliceblue;
  color: black;
}

.cs305g {
  background-color: yellowgreen;
  color: white;
}

.cs2370 {
  background-color: blueviolet;
  color: white;
}

.dnd {
  background-color: lightblue;
  color: black;
}
