html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #000000;
  background: url('OcunanandMartin.png') no-repeat center center;
  background-attachment: fixed;
  background-position: relative;
  background-size: cover;
  transform: translateZ(-1) scale(2);
  z-index: -1;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

p {
  text-indent: 30px;
  margin-bottom: 0.75em;
}

.noIndent {
  text-indent: 0px;
  text-align: left;
  padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.75em; /* 75% of the font size */
  margin-bottom: 0.2em; /* Adjust this value between 0.1em and 0.33em as needed */
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 150px;
  text-decoration: underline;
}

.title {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.title h1 {
  margin: 0;
}

.parallax {
  background: url('OcunanandMartin.png') no-repeat center center;
  height: 25vh;
  background-attachment: fixed;
  background-position: relative;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: translateZ(-1) scale(2);
  z-index: -1;
}

.spacer {
  height: 10vh;
  background: url('OcunanandMartin.png') no-repeat center center;  background-attachment: fixed;
  background-attachment: fixed;
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1) scale(2);
  z-index: -1;
}

.right-aligned-image {
  float: right;
  display: block;
  margin: 0, 0, 20px, 20px;
  border: 20px solid lightblue;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.center-aligned-image {
  display: block;
  margin: 0px auto 40px auto;
  border: 20px solid lightblue;
  border-radius: 10px;
}

.content1 {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background:rgba(211, 211, 211, 0.8);
  text-align: center;
}

.content1 h1 {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(230, 220, 173, 0.8);
  display: inline-block;
}

.content2 {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(222, 202, 202, 0.8);
  text-align: center;
}

.content3 {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(219, 189, 218, 0.8);
}

.content4 {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(200, 189, 219, 0.8);
}

.content5 {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px auto;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(189, 197, 219, 0.8);
}

.content6 {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: rgba(189, 219, 214, 0.8);
}

.left-aligned-text {
  text-align: left;
  padding: 25px;
}

.text-box {
  background-color: #e2e6ad;
  padding: 10px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black; 
  border-collapse: collapse; 
  background: linear-gradient(to right, #f0f8ff, #c2c2fc);
}

.schedule {
  table-layout: fixed;
  width: 900px;
}

th,td {
  padding: 8px;
  width: 16.66%;
  vertical-align: top;
  text-align: left;
  border-bottom: 1px solid #aaa;
}

tr:nth-child(2n) td {
  border-bottom: 1px solid #888; 
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.7); 
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.5); 
}

th {
  background-color: gray;
  color: rgb(221, 101, 101);
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000; 
}

.center {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  background-color: #e6dcad;
  padding: 20px;
  border-radius: 10px;
}

.time {
  background-color: lightgray;
  color:#000000;

}

.totalylegit {
  background-color: beige;
  color: black;
}

.cs2450 {
  background-color: indianred;
  color: white;
}

.lunch {
  background-color: aliceblue;
  color: black;
}

.cs305g {
  background-color: yellowgreen;
  color: white;
}

.cs2370 {
  background-color: blueviolet;
  color: white;
}

.dnd {
  background-color: lightblue;
  color: black;
}
